@import "fontStyle.css";

html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    font-family: Roboto, sans-serif;
    background: rgb(174,238,214);
    background: radial-gradient(circle, rgba(174,238,214,1) 0%, rgba(121,182,241,1) 100%);
    position: relative;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

#app-wrap {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

 .container{
     padding-top: 80px;
     max-width: 1280px;
     margin: 0 auto;
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(174,238,214);
    background: linear-gradient(180deg, rgba(121,182,241,1) 0%, rgba(174,238,214,1) 100%);
    z-index: 100;
}

a {
    color: rgb(0, 22, 87);
    text-decoration: none;
    font-size: 24px;
}

a:hover {
    color: rgb(217, 238, 250);
}

.search-wrap {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-bottom: 25px;
}

#btn {
    height: 50px;
    width: 100px;
    border: none;
    background-color: rgba(121,182,241,1);
    transition: .2s;
    padding: 0;
    color: rgb(247, 252, 255);
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    margin-left: 10px;
}


#btn:hover {
    background-color: rgba(174,238,214,1);
}

.weather-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.wrap.hide {
    display: none;
}

.weather-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.temp {
    font-size: 54px;
    color: rgb(0, 22, 87);
    font-weight: 700;
    margin: 42px 0;
}

.w_icon {
    width: 200px;
}

.city{
    font-size: 32px;
    font-weight: 700;
    color: rgb(0, 22, 87);
}


.condition {
    font-size: 32px;
    color: rgb(0, 22, 87);
}


.values {
    width: 100%;
    font-size: 25px;
    color: rgb(0, 22, 87);
    border-bottom: 1px solid rgb(206, 217, 248);
}

.values:nth-child(2n) {
    margin: 20px 0;
}

.values:last-child {
    margin-bottom: 0;
}

.forecast-wrap {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 42px;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.day, .forecast-temp, .icon {
    text-align: center;
}

.icon {
    margin: 25px 0;
}

#f_icon {
    width: 80px;
}

.day, .forecast-temp {
    color: rgb(0, 22, 87);
    font-size: 32px;
}

input {
    height: 50px;
    width: 50%;
    border: none;
    text-align: center;
    margin: 50px 0;

    border-radius: 25px;
    font-size: 20px;
    background: rgba(188, 230, 255, 0.71);
}

input:focus-visible {
    opacity: 1;
}

input::placeholder {
    font-size: 20px;
}

.favorites.hide {
    display: none;
}

.favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.city-card {
    position: relative;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
    background-color: rgba(245, 245, 245, 0.24);
    border-radius: 25px;
    margin: 0 9px 18px 9px;
    transition: .2s;
}

.city-card:hover .city-delete {
    opacity: 1;
}

.city-card:hover {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.4);
}

.city-delete {
    position: absolute;
    width: 20px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    opacity: 0;
}

.city-name {
    text-align: center;
    color: rgb(0, 22, 87);
    font-size: 24px;
}

.city-name:hover {
    text-shadow: -2px 2px 2px rgb(138, 163, 229);
}

.city-cond {
    margin: 15px 0;
}

.city-temp {
    text-align: center;
    color: rgb(0, 22, 87);
    font-size: 32px;
}

#theme-btn {
    left: 25px;
    font-size: 24px;
    color: rgb(0, 22, 87);
    cursor: pointer;
    text-align: center;
    padding: 20px 0;
}

#theme-btn:hover {
    color: rgb(217, 238, 250);
}

/*Dark---------------*/

body.dark {
    background: rgb(10, 6, 50);
    background: radial-gradient(circle, rgb(2, 8, 47) 0%, rgb(34, 2, 45) 100%);
}

.nav.dark {
    color: rgb(122, 201, 245);
    background: rgb(16, 10, 88);
    background: radial-gradient(circle, rgb(2, 8, 68) 0%, rgb(43, 3, 59) 100%);
}

a.dark {
    color: rgb(122, 201, 245);
}

a.dark:hover, #theme-btn.dark:hover {
    color: rgb(220, 239, 252);
}

#btn.dark {
    background-color: rgb(122, 201, 245);
    color: rgb(0, 22, 87);
}

#btn.dark:hover {
    background-color: rgb(60, 179, 250);
}

.temp.dark {
    color: rgb(122, 201, 245);
}

.city.dark {
    color: rgb(122, 201, 245);
}

.condition.dark {
    color: rgb(122, 201, 245);
}

.values.dark {
    color: rgb(122, 201, 245);
    border-bottom: 1px solid rgba(16, 32, 71, 0.82);
}

.day.dark, .forecast-temp.dark {
    color: rgb(122, 201, 245);
}

input.dark {
    color: whitesmoke;
    border-radius: 25px;
    background: rgba(122, 201, 245, 0.71);
}

input.dark::placeholder {
    color: whitesmoke;
}

#theme-btn.dark {
    color: rgb(122, 201, 245)
}

.city-name.dark, .city-temp.dark {
    color: rgb(122, 201, 245);
}

.city-name.dark:hover {
    text-shadow: -2px 2px 2px rgb(56, 26, 83);
}


/* Media ----------*/

@media (min-device-width: 768px) and (max-device-width: 1024px)  {
    .favorites {
        flex-direction: column;
        padding: 0 15px;
    }

    .city-card {
        width: 100%;
        padding: 10px 0;
        margin: 0 0 10px 0;
    }

    .city-delete {
        opacity: 1;
    }
}


@media (min-device-width: 320px) and (max-device-width: 568px) {

    .favorites{
        padding: 0 15px;
    }
    .nav {
        height: 42px;
    }
    #theme-btn, a {
        font-size: 16px;
    }
    .container {
        padding-top: 42px;
    }
    .search-wrap {
        display: flex;
        justify-content: center;
        height: 100%;
        margin: 10px 0 10px 0;
    }
    input {
        height: 28px;
        width: 200px;
        margin: 18px 10px 18px 5px;
        font-size: 18px;
    }
    #btn {
        height: 28px;
        width: 100px;
        padding: 0;
        color: rgb(247, 252, 255);
        margin: 18px 0;
    }
    .weather-wrap {
        height: 100%;
        margin-bottom: 0;
        flex-wrap: wrap;
    }
    .weather-item {
        width: 50%;
        margin-bottom: 24px;
    }
    .wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .city, .condition  {
        font-size: 18px;
        text-align: center;
    }
    .temp {
        margin: 10px auto;
        font-size: 24px;
    }
    .w_icon {
        width: 100px;
    }
    .values {
        font-size: 16px;
        width: auto;
    }
    .values:nth-child(2n) {
        margin: 5px;
    }
    .forecast-wrap {
        height: auto;

    }
    .forecast-item {
        width: 25%;
    }
    .day, .forecast-temp {
        font-size: 16px;
    }
    .f_icon {
        width: 42px;
    }
    .icon {
        margin: 10px;
    }
    input::placeholder {
        font-size: 16px;
    }
    .favorites {
        flex-direction: column;
    }
    .city-card {
        width: 100%;
        padding: 10px 0;
        margin: 0 0 10px 0;
    }
    .city-name {
        font-size: 14px;
        padding: 10px;
    }
    .city-temp {
        font-size: 18px ;
    }
    .city-cond {
        display: none;
    }
    .city-delete {
        opacity: 1;
        width: 15px;
    }
}

@media (min-device-width: 375px) and (max-device-width: 667px) {

    .favorites {
        padding: 0 15px;
    }
    .nav {
        height: 42px;
    }
    #theme-btn, a {
        font-size: 16px;
    }
    .container {
        padding-top: 42px;
    }
    .search-wrap {
        display: flex;
        justify-content: center;
        height: 100%;
        margin: 20px 0 20px 0;
    }
    input {
        height: 28px;
        width: 200px;
        margin: 18px 10px 18px 5px;
        font-size: 18px;
    }
    #btn {
        height: 28px;
        width: 100px;
        padding: 0;
        color: rgb(247, 252, 255);
        margin: 18px 0;
    }
    .weather-wrap {
        height: 100%;
        margin-bottom: 0;
        flex-wrap: wrap;
    }
    .weather-item {
        width: 50%;
        margin-bottom: 56px;
    }
    .wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .city, .condition  {
        font-size: 18px;
        text-align: center;
    }
    .temp {
        margin: 10px auto;
        font-size: 24px;
    }
    .w_icon {
        width: 100px;
    }
    .values {
        font-size: 16px;
        width: auto;
    }
    .values:nth-child(2n) {
        margin: 5px;
    }
    .forecast-wrap {
        height: auto;
    }
    .forecast-item {
        width: 25%;
    }
    .day, .forecast-temp {
        font-size: 16px;
    }
    .f_icon {
        width: 42px;
    }
    .icon {
        margin: 10px;
    }
    input::placeholder {
        font-size: 16px;
    }
    .favorites {
        flex-direction: column;
    }
    .city-card {
        width: 100%;
        padding: 20px 0;
        margin: 0 0 10px 0;
    }
    .city-name {
        font-size: 16px;
        padding: 10px;
    }
    .city-temp {
        font-size: 24px ;
    }
    .city-cond {
        display: none;
    }
    .city-delete {
        opacity: 1;
        width: 15px;
    }
}

